@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-feature-settings: "case" on;
  font-family: "FiraGO";
    font-weight: 400;
    width: 100%;
    height: 100vh;
   
  }
  a {
    list-style: none;
    text-decoration: none;
  }